body {
    background: url(images/twink.jpg);
  }

  a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: underline;
  }

.center-normal {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600
}
.center-medium {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size:18px;
}
.center-bold {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size:32px;
}

.underline {
  text-decoration-color: inherit;
}


 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(41,28,45);
  border: 0.7rem double #684c6b;
}

#small-box {    
  background-color: rgb(41,28,45);
  border: 0.7rem double #684c6b;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
/*rainbow font start*/
#rainbow-box {    
    background-color: rgb(41,28,45);
    border: 0.7rem double #684c6b;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 15s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
/*rainbow font start*/

animated text
.example5 {
  height: 50px;	
  overflow: visible;
  position: relative;
 }
 .example5 h3 {
  position: absolute;
  color: rgba(0,0,0,.5);
  margin: 0;
  line-height: inherit;
  text-align: center;
  /* Apply animation to this element */	
  -moz-animation: example5 2s linear infinite alternate;
  -webkit-animation: example5 2s linear infinite alternate;
  animation: example5 2s linear infinite alternate;
 }
 /* Move it (define the animation) */
 .example5 {
  height: 50px;	
  overflow: visible;
  position: relative;
 }
 .example5 h3 {
 
  position: absolute;
 background-clip: text;
   -webkit-background-clip: text;
   color: rgba(0,0,0,1);
  margin: 0;
  line-height: inherit;
  text-align: center;
  /* Apply animation to this element */	
  -moz-animation: example5 2s linear infinite alternate;
  -webkit-animation: example5 2s linear infinite alternate;
  animation: example5 2s linear infinite alternate;
 }
 /* Move it (define the animation) */
 @-moz-keyframes example5 {
  0%   { -moz-transform: translateX(70%); }
  100% { -moz-transform: translateX(0%); }
 }
 @-webkit-keyframes example5 {
  0%   { -webkit-transform: translateX(70%); }
  100% { -webkit-transform: translateX(0%); }
 }
 @keyframes example5 {
  0%   { 
  -moz-transform: translateX(70%); /* Firefox bug fix */
  -webkit-transform: translateX(70%); /* Firefox bug fix */
  transform: translateX(70%); 		
  }
  100% { 
  -moz-transform: translateX(0%); /* Firefox bug fix */
  -webkit-transform: translateX(0%); /* Firefox bug fix */
  transform: translateX(0%); 
  }
 }
